<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>FOOTBALL_LEAGUE_MANAGER</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>CampionatoControl</servlet-name>
		<servlet-class>flm.campionati.CampionatoControl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CampionatoControl</servlet-name>
		<url-pattern>/campionati</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GiocatoreControl</servlet-name>
		<servlet-class>flm.giocatori.GiocatoreControl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GiocatoreControl</servlet-name>
		<url-pattern>/giocatori</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>SquadraControl</servlet-name>
		<servlet-class>flm.squadre.SquadraControl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SquadraControl</servlet-name>
		<url-pattern>/squadre</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UtentiControl</servlet-name>
		<servlet-class>flm.utenti.UtentiControl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UtentiControl</servlet-name>
		<url-pattern>/utenti</url-pattern>
	</servlet-mapping>
</web-app>